.iboxxy-overlay
{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.3);
	z-index:10000;
}

.iboxxy-display-wrapper
{
	position:absolute;
	left:50%;
	top:50%;
	width:400px;
	height:200px;
	margin-left:-200px;
	margin-top:-100px;
	background-color:#DDD;
	border-radius:20px;
	border:1px solid black;
	overflow:hidden;
}

.iboxxy-title-wrapper
{
	height:25px;
	text-align:center;
}

.iboxxy-button-wrapper
{
	overflow:hidden;
	height:30px;
	width:100%;
	text-align:center;
	padding:2px;
}

.iboxxy-content-wrapper
{
	overflow:auto;
	width:100%;
	height:145px;
	border-top:1px solid black;
	border-bottom:1px solid black;
}

.iboxxy-button
{
	height:25px;
	width:40%;
}
